@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom styles */
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Dark background animation */
.bg-gradient-animate {
  position: relative;
  overflow: hidden;
  background-color: #1a202c; /* Dark background color */
}

.bg-gradient-animate::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      238.72deg,
      rgba(66, 153, 225, 0.15) 0%,
      /* Darker blue */ rgba(66, 153, 225, 0) 36.89%,
      rgba(66, 153, 225, 0) 57.94%,
      rgba(66, 153, 225, 0.15) 100%
    ),
    linear-gradient(
      115.8deg,
      rgba(236, 201, 75, 0.15) 0%,
      /* Darker yellow */ rgba(236, 201, 75, 0) 30.62%,
      rgba(236, 201, 75, 0) 70.62%,
      rgba(236, 201, 75, 0.15) 100%
    );
  animation: gradientMove 15s ease infinite;
}

.bg-gradient-animate::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(
      circle at 20% 30%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 5%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 5%
    ),
    radial-gradient(
      circle at 40% 60%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 5%
    ),
    radial-gradient(
      circle at 60% 20%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 5%
    );
  background-size: 200% 200%, 150% 150%, 180% 180%, 160% 160%;
  animation: particlesMove 20s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%, 100% 50%;
  }
  50% {
    background-position: 100% 50%, 0% 50%;
  }
  100% {
    background-position: 0% 50%, 100% 50%;
  }
}

@keyframes particlesMove {
  0%,
  100% {
    background-position: 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
  25% {
    background-position: 100% 100%, 50% 50%, 75% 25%, 25% 75%;
  }
  50% {
    background-position: 50% 50%, 100% 100%, 25% 75%, 75% 25%;
  }
  75% {
    background-position: 25% 75%, 75% 25%, 100% 100%, 50% 50%;
  }
}

/* You can add any additional custom styles here */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this at the end of the file */
body {
  @apply bg-gray-900 text-white;
}
